<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earth.mall.app.dao.GoodsSkuSafeguardMapper">
    <resultMap id="BaseResultMap" type="com.earth.mall.app.entity.GoodsSkuSafeguard">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="safeguard_id" jdbcType="BIGINT" property="safeguardId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sku_id, safeguard_id, created_at, updated_at
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods_sku_safeguard
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_sku_safeguard
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.earth.mall.app.entity.GoodsSkuSafeguard">
    insert into goods_sku_safeguard (id, sku_id, safeguard_id, 
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{safeguardId,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.earth.mall.app.entity.GoodsSkuSafeguard">
        insert into goods_sku_safeguard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="safeguardId != null">
                safeguard_id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=BIGINT},
            </if>
            <if test="safeguardId != null">
                #{safeguardId,jdbcType=BIGINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.earth.mall.app.entity.GoodsSkuSafeguard">
        update goods_sku_safeguard
        <set>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=BIGINT},
            </if>
            <if test="safeguardId != null">
                safeguard_id = #{safeguardId,jdbcType=BIGINT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.earth.mall.app.entity.GoodsSkuSafeguard">
    update goods_sku_safeguard
    set sku_id = #{skuId,jdbcType=BIGINT},
      safeguard_id = #{safeguardId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>