<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earth.mall.app.dao.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.earth.mall.app.entity.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="no" jdbcType="VARCHAR" property="no"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="payment_way" jdbcType="TINYINT" property="paymentWay"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="carriage" jdbcType="DECIMAL" property="carriage"/>
        <result column="payment_amount" jdbcType="DECIMAL" property="paymentAmount"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, no, user_id, shop_id, order_time, payment_way, payment_time, total_amount, carriage, 
    payment_amount, status, created_at, updated_at
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.earth.mall.app.entity.OrderInfo">
    insert into order_info (id, no, user_id, 
      shop_id, order_time, payment_way, 
      payment_time, total_amount, carriage, 
      payment_amount, status, created_at, 
      updated_at)
    values (#{id,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{shopId,jdbcType=BIGINT}, #{orderTime,jdbcType=TIMESTAMP}, #{paymentWay,jdbcType=TINYINT}, 
      #{paymentTime,jdbcType=TIMESTAMP}, #{totalAmount,jdbcType=DECIMAL}, #{carriage,jdbcType=DECIMAL}, 
      #{paymentAmount,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.earth.mall.app.entity.OrderInfo">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="paymentWay != null">
                payment_way,
            </if>
            <if test="paymentTime != null">
                payment_time,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="carriage != null">
                carriage,
            </if>
            <if test="paymentAmount != null">
                payment_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="no != null">
                #{no,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentWay != null">
                #{paymentWay,jdbcType=TINYINT},
            </if>
            <if test="paymentTime != null">
                #{paymentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalAmount != null">
                #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="carriage != null">
                #{carriage,jdbcType=DECIMAL},
            </if>
            <if test="paymentAmount != null">
                #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.earth.mall.app.entity.OrderInfo">
        update order_info
        <set>
            <if test="no != null">
                no = #{no,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentWay != null">
                payment_way = #{paymentWay,jdbcType=TINYINT},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="carriage != null">
                carriage = #{carriage,jdbcType=DECIMAL},
            </if>
            <if test="paymentAmount != null">
                payment_amount = #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.earth.mall.app.entity.OrderInfo">
    update order_info
    set no = #{no,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      payment_way = #{paymentWay,jdbcType=TINYINT},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      carriage = #{carriage,jdbcType=DECIMAL},
      payment_amount = #{paymentAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>